body {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: Lobster, 'Times New Roman', Times, serif;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}