$input-height: 40px;
$font-size: 20px;

body {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
h1 {
    font-family: Lobster, 'Times New Roman', Times, serif;
    text-align: center;
    color: #18b2ff;
    margin: 0;
    padding: 20px;
}
.todoList {
    list-style-type: none;
    padding: 0;
}
.todoForm {
    padding: 5px 10px;
    text-align:center;
    input {
        width: 80%;
        box-sizing: border-box;
        height: $input-height;
        padding-left: 5px;
        font-size: $font-size;
    }
    button {
        height: $input-height;
        width: $input-height;
        font-size: $font-size;
    }
}
.todo {
    font-size: $font-size;
    padding: 10px;
    padding-right: 40px;
    position: relative;
    &:nth-of-type(2n){
        background-color: #eff;
    }
    &:nth-of-type(2n+1){
        background-color: #ddeeff;
    }
    button {
        position: absolute;
        top: 10px;
        right: 5px;
        border-radius: 5px;
        visibility: hidden;
    }
    &:hover {
        button {
            visibility: visible;
        }
    }
}
.app {
    width: 500px;
    background-color: #eff;
    box-shadow: 4px 2px 5px 0 #aaa;
    border-radius: 3px;
    padding-bottom: 5px;
}