$input-height: 40px;
$font-size: 20px;
body {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
h1 {
    font-family: Lobster, 'Times New Roman', Times, serif;
    text-align: center;
    color: #18b2ff;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todoForm {
    padding: 0 10px;
    input {
        box-sizing: border-box;
        height: $input-height;
        width: 50vw;
        padding-left: 5px;
        font-size: $font-size;
    }
    button {
        height: $input-height;
        width: $input-height;
        font-size: $font-size;
    }
}
.todo {
    font-size: $font-size;
    padding: 10px;
    &:nth-of-type(2n){
        background-color: #eff;
    }
    &:nth-of-type(2n+1){
        background-color: #ddeeff;
    }
}
#root {
    background-color: #eff;
    box-shadow: 4px 2px 5px 0 #aaa;
    border-radius: 3px;
}
@media (max-width:500px) {
    .todoForm {
        padding: 5px;
        input {
            width: 80vw;
        }
    }
}